/* Base styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(49, 121, 186);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #f1f2f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 320px;
}

.card h2 {
  text-align: left;
}

.title-div {
  display: flex;
  justify-content: space-between;
}

.title-div p {
  margin-top: 25px;
}

.task-list {
  margin-top: 10px;
  /* border: 1px solid red; */
  
  
}

.task {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  /* margin: 10px; */
  /* height: 60px; */

}

.task-content {
  text-align: left;
 

  /* border: 1px solid red; */
}

.align-left-icon {
  text-align: left;
}

.icon {
  cursor: pointer;
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 210px;
}

.add-task1 {
  align-items: center;
  margin-top: 20px;
}

.add-task p {
  margin-left: 10px;
}

.add-task1 input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 8px;
}

.add-task1 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-task1 button:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .section {
    height: auto;
  }
  
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }

  /* Adjust the width specifically for the "In Progress" section */
  .section.inProgress .card {
    width: 90%;
  }

  .title-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-task {
    justify-content: center;
    margin-right: 0;
  }

  .add-task1 {
    justify-content: center;
  }
}


